.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #de37c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.body{
  margin-left:5%;
  margin-right: 5%;
  position: relative;
  margin-top: 60px;

}
.items-grid{
  width: 100%;

}

/* NAVBAR */

.custom-navbar{
  border-bottom: 2px solid #800080;
}

.custom-navbar .navbar-brand {
  color: #800080 !important; 
  font-size: 1.5rem; 
  font-weight: bold; 
}

.custom-navbar .nav-link {
  color: #800080 !important; 
}

.custom-navbar .nav-link:hover {
  color: #c500c5 !important; 
}


.custom-navbar .navbar-toggler {
  background-color: #800080; 
  border: none; 
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.custom-navbar .navbar-toggler.collapsed {
  background-color: #6a006a; 
}

/* END NAVBAR */

.head-image {
  position: relative;
  min-height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://media.istockphoto.com/id/1409298953/photo/real-estate-agents-shake-hands-after-the-signing-of-the-contract-agreement-is-complete.jpg?s=612x612&w=0&k=20&c=SFybbpGMB0wIoI0tJotFqptzAYK_mICVITNdQIXqnyc=');
  background-size: cover;
  background-position: center;
  opacity: 0.3; 
  z-index: -1; /* Ensure the pseudo-element is below the content */
}

.head-image .container {
  position: relative;
  z-index: 2; /* Ensure the content is above the pseudo-element */
}

.search-filter {
  max-width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-div {

  margin-bottom: 10px;
}


.btn-custom {
  background-color: #800080 !important;
  color: white !important;;
  border: none !important;;
}

.btn-custom:hover {
  background-color: #6a006a !important;;
  color: white !important;;
}

.featureTitle {

  font-size: 4em;
  color: #800080;
  
}

.featureText {

  color: black;
  font-size: 2em;
}

.form-label {
  margin-top: 0.5rem !important;
}

.pagetitle {

  font-size: 2em;
  color: #800080;
  
}

/* Footer */
.custom-footer {
  background-color: #ffffff;
  margin-top: 20px;
}

.bg-darker-purple {
  background-color: #6a006a;
}

.text-purple {
  color: #800080;
}

.border-top-purple {
  border-top: 3px solid #800080;
}

.custom-footer .text-purple {
  color: #800080;
}

.custom-footer .text-purple:hover {
  color: #6a006a;
}

.custom-footer .text-light {
  color: #d3d3d3;
}

.custom-footer .text-light:hover {
  color: #fff;
}

/* Social */
.social-icons i {
  margin: 0 10px;
}

.social-icons i:hover {
  color: #6a006a;
}

.propertyCard {
  min-width: 300px;
}