.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #de37c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  margin:15px;
  height: 400px;
  max-width: 300px;
  float:left;
  border: "black solid collapse";
  overflow-y: hidden;
}
.card img{
  max-width: 100%;
  flex:auto;
  border: "black solid collapse";
}
.body{
  margin-left:15%;
}
.items-grid{
  width: 100%;

}